<%= form_with(model: [vinyl]) do |form| %>
  <% if vinyl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vinyl.errors.count, "error") %> prohibited this vinyl from being saved:</h2>

      <ul>
        <% vinyl.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist, size:40 %>
  </div>

  <div class="field">
    <%= form.label :alphabet_artist %>
    <%= form.text_field :alphabet_artist, size:40 %>
  </div>

  <div class="field">
    <%= form.label :album %>
    <%= form.text_field :album, size:60 %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label %>
  </div>
 
  <div class="field">
    <%= form.label :genre %>
    <%= form.select :genre, {'Rock': 'Rock', 'Pop': 'Pop', 'Electronic': 'Electronic', 'Hip Hop': 'Hip Hop', 'Funk': 'Funk', 'Jazz': 'Jazz', 'Classic': 'Classic', 'Soundtrack': 'Soundtrack', 'Other': 'Other'} %>
  </div>

  <div class="field">
    <%= form.label :japanese, 'Country' %>
    <%= form.radio_button :japanese, 'true'%>Japanese
    <%= form.radio_button :japanese, 'false'%>Other
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.radio_button :size, '12'%>12inch
    <%= form.radio_button :size, '7'%>7inch
  </div>

  <div class="field">
    <%= form.label :compilation %>
    <%= form.radio_button :compilation, 'true' %>Yes
    <%= form.radio_button :compilation, 'false'%>No
  </div>

  <div class="field" id="star">
    <%= form.label :star, "Star Evaluation" %>
    <%= form.radio_button :star, 1%>1
    <%= form.radio_button :star, 2%>2
    <%= form.radio_button :star, 3%>3
    <%= form.radio_button :star, 4%>4
    <%= form.radio_button :star, 5%>5
  </div>

   <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review, size: "100x10" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
