<p id="notice"><%= notice %></p>

<%= search_form_for @q do |f| %>
<div class="boxContainer">
  <div class="box">
  <%= f.label :album_or_artist_or_alphabet_artist_or_label_or_review_cont, "Search Key Word" %>
  <%= f.text_field :album_or_artist_or_alphabet_artist_or_label_or_review_cont %>
  </div>

  <div class="box">
  <%= f.label :artist_or_alphabet_artist, "Search Artist" %>
  <%= f.search_field :artist_or_alphabet_artist_cont %>
  </div>

  <div class="box">
  <%= f.label :album, "Search Album" %>
  <%= f.search_field :album_cont %>
  </div>
</div>

<div class="boxContainer">
  <div class="box">
  <%= f.label :year, "Search Year" %>
  <%= f.number_field :year_gteq %>~
  <%= f.number_field :year_lteq %>
  </div>

  <div class="box">
  <%= f.label :label, "Search Label" %>
  <%= f.search_field :label_cont %>
  </div>
</div>

  <%= f.label :genre, 'Genre' %>
  <%= f.check_box :genre_eq_any, {multiple: true}, 'Rock', nil %>Rock
  <%= f.check_box :genre_eq_any, {multiple: true}, 'Pop', nil %>Pop
  <%= f.check_box :genre_eq_any, {multiple: true}, 'Electronic', nil %>Electronic
  <%= f.check_box :genre_eq_any, {multiple: true}, 'Hip Hop', nil %>Hip Hop
  <%= f.check_box :genre_eq_any, {multiple: true}, 'Funk', nil %>Funk
  <%= f.check_box :genre_eq_any, {multiple: true}, 'Jazz', nil %>Jazz
  <%= f.check_box :genre_eq_any, {multiple: true}, 'Soundtrack', nil %>Soundtrack
  <%= f.check_box :genre_eq_any, {multiple: true}, 'Other', nil %>Other

<div class="boxContainer">
  <div class="box">
  <%= f.label :country, 'Country' %>
  <%= f.search_field :country_cont %>
  </div>

  <div class="box">
  <%= f.label :size, 'Size' %>
  <%= f.radio_button :size_eq, '' %>any
  <%= f.radio_button :size_eq, '12' %>12inch
  <%= f.radio_button :size_eq, '7' %>7inch
  </div>
</div>
  
  <%= f.label :star, 'Star' %>
  <%= f.check_box :star_eq_any, {multiple: true}, 1, nil %>1
  <%= f.check_box :star_eq_any, {multiple: true}, 2, nil %>2
  <%= f.check_box :star_eq_any, {multiple: true}, 3, nil %>3
  <%= f.check_box :star_eq_any, {multiple: true}, 4, nil %>4
  <%= f.check_box :star_eq_any, {multiple: true}, 5, nil %>5

  <%= f.submit "Search" %>

<h1>Vinyls (<%= @vinyls_size %>)</h1>

<%= link_to 'New Vinyl', new_vinyl_path%>

<table>
  <thead>
    <tr>
      <th class="fixed01" width="15"></th>
      <!--　<th class="fixed01"><%= sort_link(@q, :artist, hide_indicator: true) %></th> -->
      <th class="fixed01">Artist</th>
      <!--　<th class="fixed01"><%= sort_link(@q, :artist, hide_indicator: true) %></th> -->
      <th class="fixed01">Album</th>
      <!-- <th class="fixed01">Year<%= sort_asc("year")%><%= sort_desc("year")%></th> -->
      <th class="fixed01"><%= sort_link(@q, :year, hide_indicator: true) %></th>
      <th class="fixed01">Label</th>
      <th class="fixed01">Genre</th>
      <th class="fixed01">Country</th>
      <th class="fixed01">Size</th>
      <th class="fixed01", colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= will_paginate @vinyls %>
    <% @vinyls.each_with_index do |vinyl, i| %>
      <tr>
        <td align="center"><%= @per_page_num * (@vinyls.current_page - 1) + i + 1 %></td>
        <td><%= vinyl.artist %></td>
        <td><% if vinyl.spotify.blank? then%>
              <%= vinyl.album %>
            <% else %>
              <%= link_to vinyl.album, vinyl.spotify %>
            <% end %>
        </td>
        <td align="center"><%= vinyl.year %></td>
        <td align="center"><%= vinyl.label %></td>
        <td align="center"><%= vinyl.genre %></td>
        <td align="center"><%= vinyl.country %></td>
        <td align="center"><%= vinyl.size %>inch</td>
        <td align="center"><%= link_to 'Show', vinyl_path(vinyl, page: @vinyls.current_page)%></td>
        <td align="center"><%= link_to 'Edit', edit_vinyl_path(vinyl, page: @vinyls.current_page) %></td>
        <td align="center"><%= link_to 'Destroy', vinyl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>