<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @vinyl.artist %>
</p>

<p>
  <strong>Album:</strong>
  <%= @vinyl.album %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vinyl.year %>
</p>

<p>
  <strong>Label:</strong>
  <%= @vinyl.label %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @vinyl.genre %>
</p>

<p>
  <strong>Japanese:</strong>
  <%= @vinyl.japanese %>
</p>

<p>
  <strong>size:</strong>
  <%= @vinyl.size %>
</p>

<%= link_to 'Edit', edit_vinyl_path(@vinyl) %> |
<%= link_to 'Back', vinyls_path %>
