<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @vinyl.artist %>
</p>

<p>
  <strong>Album:</strong>
  <% if @vinyl.spotify.blank? then%>
  <%= @vinyl.album %>
  <% else %>
  <%= link_to @vinyl.album, @vinyl.spotify %>
  <% end %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @vinyl.catalog %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vinyl.year %>
</p>

<p>
  <strong>Label:</strong>
  <%= @vinyl.label %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @vinyl.genre %>
</p>

<p>
  <strong>Country:</strong>
  <%= @vinyl.country %>
</p>

<p>
  <strong>Size:</strong>
  <%= @vinyl.size %>inch
</p>

<p>
  <strong>Compilation:</strong>
  <%= @vinyl.compilation %>
</p>

<p>
  <strong>Star:</strong>
  <%= @vinyl.star %>
</p>

<p>
  <strong>Review:</strong>
  <br />
  <%=safe_join(@vinyl.review.to_s.split("\n"),tag(:br))%>
</p>

<% if @page.blank? then%>
<% @page = '1' %>
<% end %>

<%= link_to 'Edit', edit_vinyl_path(@vinyl, page: @page, song: @song) %> |
<%= link_to 'Back', vinyls_path + '?page=' + @page%>

<p></p><p></p>
<% if not @vinyl.spotify.blank? then%>
<iframe src=<%=gen_spotify_link(@vinyl.spotify)%> width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> 
<% end %>
