<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @vinyl.artist %>
</p>

<p>
  <strong>Alphabet Artist:</strong>
  <%= @vinyl.alphabet_artist %>
</p>

<p>
  <strong>Album:</strong>
  <%= @vinyl.album %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vinyl.year %>
</p>

<p>
  <strong>Label:</strong>
  <%= @vinyl.label %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @vinyl.genre %>
</p>

<p>
  <strong>Country:</strong>
  <% if @vinyl.japanese then%>
  Japanese
  <% else%>
  Other
  <% end %>
</p>

<p>
  <strong>Size:</strong>
  <%= @vinyl.size %>inch
</p>

<p>
  <strong>Compilation:</strong>
  <%= @vinyl.compilation %>
</p>

<p>
  <strong>Star:</strong>
  <%= @vinyl.star %>
</p>

<p>
  <strong>Review:</strong>
  <br />
  <%=safe_join(@vinyl.review.to_s.split("\n"),tag(:br))%>
</p>

<%= link_to 'Edit', edit_vinyl_path(@vinyl) %> |
<%= link_to 'Back', vinyls_path %>
